.landing {
  background: rgb(243, 247, 250);
  background: radial-gradient(
    circle at top right,
    rgba(243, 247, 250, 1) 0%,
    rgb(102, 196, 255) 100%
  );
  min-height: 100vh;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}


.intro, .introBlob {
    font-size: 1.3rem;
    padding: 0 6rem;
    width: 50%;
    height: 100%;
}

.introBlob {
    padding: 0 6rem;
}

.blob {
    height: auto;
    width: 100%;
}

.enrollBot {
    background-color: #318CE7;
    padding: 1rem 2rem;
    color: white;
    text-decoration: none;
    border-radius: 1rem;
    display: block;
    width: max-content;
    margin-top: 2rem;
}